* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #333;
}

/* section h2 {
  border-bottom: 3px double #0081ca;
  text-align: center;
} */
/*----Header-----*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.logo {
  height: 50px;
}
nav {
  display: none;
}
.container {
  display: inline-block;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/*-------Home Section----------*/
#home {
  height: 60vh;
  width: 100vw;
  margin: 0px auto;
  text-align: center;
  padding: 80px;
}
#home h1 {
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#home p {
  font-size: 20px;
}
.vivid {
  color: #0081ca;
  /* color: #66b6ab; */
}
.vivid:hover {
  color: #ff0000;
}
/*---Skills--*/
.skills {
  margin-bottom: 80px;
}
.skills h2 {
  text-align: center;
}
.skills i {
  font-size: 50px;
  margin: 10px;
}
.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*-----------Work Section------*/
#work h2 {
  text-align: center;
}
.screenshot {
  height: 20vh;
}
.square {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*---------Contact Section-----------*/
.links a {
  color: #0081ca;
}

@media (min-width: 767px) {
  .container {
    display: none;
  }

  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .square {
    width: 30%;
  }
  .skills h2 {
    margin-bottom: 50px;
  }
}
