* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #333;
}
/*----Header-----*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
header > img {
  height: 50px;
}
nav {
  display: none;
}
.container {
  display: inline-block;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
/*-------Home Section----------*/
#home {
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
}
#home h1 {
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#home p {
  font-size: 20px;
}
.vivid {
  color: #0081ca;
}
.vivid:hover {
  color: #ff0000;
}
.skills i {
  width: 50px;
}
/*-----------Work Section------*/
.screenshot {
  height: 20vh;
}
/*---------Contact Section-----------*/
.links a {
  color: #0081ca;
}

@media (min-width: 767px) {
  .container {
    display: none;
  }
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
